data/
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so
*.egg-info/
dist/
build/
venv/
env/
.venv/
.conda/
.env
.env.local
*.zip
*.tar
*.gz
*.bin
*.h5
*.pth
*.pt
*.pkl
*.log
*.tmp
*.swp
.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/
*.code-workspace
*.ipynb
*.ipynb#*